{{ form_start(form) }}
<div class="containerForm mx-auto" style="max-width: 700px;">
    <div class="row mb-3">
        <label class="col-md-4 col-form-label">{{ form_label(form.name, 'Nom de la catégorie') }}</label>
        <div class="col-md-8">{{ form_widget(form.name) }}</div>
    </div>
    <button type="submit" class="btn btn-outline-primary mt-5 mb-5">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}