{{ form_start(form) }}
<div class="containerForm mx-auto">
    <div class="row mb-3">
        <label class="col-md-4 col-form-label">{{ form_label(form.name, 'Nom du jeu') }}</label>
        <div class="col-md-8">{{ form_widget(form.name) }}</div>
    </div>
    <div class="row mb-3">
        <label class="col-md-4 col-form-label">{{ form_label(form.duration, 'Durée de la partie (en minutes)') }}</label>
        <div class="col-md-8">{{ form_widget(form.duration) }}</div>
    </div>
    <div class="row mb-3">
        <label class="col-md-4 col-form-label">{{ form_label(form.lastDatePlayed, 'Dernière date jouée') }}</label>
        <div class="col-md-8">{{ form_widget(form.lastDatePlayed) }}</div>
    </div>
    <div class="row mb-3">
        <label class="col-md-4 col-form-label">{{ form_label(form.category, 'Categorie') }}</label>
        <div class="col-md-8">{{ form_widget(form.category) }}</div>
    </div>
    <div class="row mb-3">
        <label class="col-md-4 col-form-label">{{ form_label(form.nbPlayers, 'Nombre de joueurs') }}</label>
        <div class="col-md-8">{{ form_widget(form.nbPlayers) }}</div>
    </div>
    <div class="row mb-3">
        <label class="col-md-4 col-form-label">{{ form_label(form.note, 'Note (de 1 à 10)') }}</label>
        <div class="col-md-8">{{ form_widget(form.note) }}</div>
    </div>
    <button type="submit" class="btn btn-outline-primary mt-5 mb-5">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}