{% extends 'base.html.twig' %}

{% block title %}Listes de jeux{% endblock %}

{% block body %}
    <div class="bandeau">
        <h1 class="text-center mt-5 mb-5">Liste des jeux</h1>
        <a class="text-center mb-5" href="{{ path('app_game_new') }}"><i class="bi bi-plus-circle"></i></a>
    </div>

    <table class="table mx-auto" style="width: 80%">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Nom</th>
                <th>Durée de la partie</th>
                <th>Dernière date jouée</th>
                <th>Catégorie</th>
                <th>Nb de joueurs</th>
                <th>Note</th>
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                {# <td>{{ game.id }}</td> #}
                <td>{{ game.name }}</td>
                <td>{{ game.duration }}</td>
                <td>{{ game.lastDatePlayed ? game.lastDatePlayed|date('d-m-Y') : '' }}</td>
                <td>{{ game.category }}</td>
                <td>{{ game.nbPlayers }}</td>
                <td>{{ game.note }}</td>
                {# <td>
                    <a href="{{ path('app_game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>
                </td> #}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun jeu enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
