{% extends 'base.html.twig' %}

{% block title %}Nombre de joueurs{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <h1 class="text-center mt-5 mb-5">Liste des nombres de joueurs</h1>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre de joueurs</th>
                    {# <th>actions</th> #}
                </tr>
            </thead>
            <tbody>
            {% for nb_player in nb_players %}
                <tr>
                    <td>{{ nb_player.id }}</td>
                    <td>
                        {% if nb_player.maxPlayers and nb_player.minPlayers != nb_player.maxPlayers %}
                            {{ nb_player.minPlayers }}-{{ nb_player.maxPlayers }} joueurs
                        {% else %}
                            {{ nb_player.minPlayers }} joueurs
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('app_nb_player_new') }}" class="btn btn-outline-primary">Créer</a>
    </div>

{% endblock %}
