{% extends 'base.html.twig' %}

{% block title %}NbPlayer{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <h1>Nmbre de joueurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nb_player.id }}</td>
            </tr>
            <tr>
                <th>Nombre de joueurs</th>
                <td>
                    {% if nb_player.maxPlayers and nb_player.minPlayers != nb_player.maxPlayers %}
                        {{ nb_player.minPlayers }}-{{ nb_player.maxPlayers }} joueurs
                    {% else %}
                        {{ nb_player.minPlayers }} joueurs
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nb_player_index') }}">Retour à la liste</a>

    <a href="{{ path('app_nb_player_edit', {'id': nb_player.id}) }}">Modifier</a>

    {{ include('nb_player/_delete_form.html.twig') }}
{% endblock %}
